

body{
background-color:#000;
color:#fff;
font-family:Arial, Helvetica, sans-serif;
margin:20px;
}


h1,h2,h3{
color:#00ffff;
}


nav a{
color:#00ff99;
margin-right:15px;
text-decoration:none;
}


img{
width:300px;
border:3px solid #fff;
display:block;
margin:10px auto;
}


table{
width:100%;
border-collapse:collapse;
margin:20px 0;
}


table, th, td{
border:1px solid #fff;
}


th, td{
padding:10px;
text-align:center;
}


marquee{
color:yellow;
font-size:18px;
}